# Setup

In [4]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df_base = pd.read_csv(r'dataframes/baseline_dataframe.csv')
df_base.head()

,state,converted_pledged_amount,goal_usd,backers_count,len_of_name,len_of_description,is_starrable,creation_time_to_launch,planned_time,comics,...,February,January,July,June,March,May,November,October,September,staff_pick
0,1,1950,1000.0000,47,23,125,False,194.546111,720.0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,22404,15000.0000,271,51,108,False,5398.295000,720.0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,165,12160.6569,3,34,133,False,129.195833,1439.0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,2820,2800.0000,3,40,121,False,98.460000,720.0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,3725,3500.0000,35,31,134,False,3824.832222,720.0,0,...,0,0,0,0,0,0,0,0,0,0

# Prepare dataset for modelling